{{- if (eq .chezmoi.os "linux") -}}
#!/bin/bash
# -*- shellscript -*-

set -e
[ -f ./dot_zshenv ] && source ./dot_zshenv

sudo apt-get install -y make

[ -d ~/.local/share/n ] || \
    curl -sL https://git.io/n-install | SHELL=zsh bash -s -- -y -n
{{ end }}
