{{- if (eq .chezmoi.os "linux") -}}
#!/bin/bash
# -*- shellscript -*-

set -e

sudo apt-get install -y make

[ -d ~/.local/share/n ] || \
    curl -sL https://git.io/n-install | N_PREFIX=~/.local/share/n SHELL=zsh bash -s -- -y -n
{{ end }}
