#!/bin/bash

set -e

source ~/.zshenv
PATH="$ASDF_DIR/bin:$PATH"

sudo apt-get install -y \
    bash curl unzip tar

if ! asdf plugin list | grep -q "^awscli$"; then
    asdf plugin add awscli
fi

asdf install awscli latest
asdf global awscli latest

curl -s "https://s3.amazonaws.com/session-manager-downloads/plugin/latest/ubuntu_64bit/session-manager-plugin.deb" -o "session-manager-plugin.deb" && \
    dpkg-deb -x session-manager-plugin.deb session-manager-plugin && \
    cp session-manager-plugin/usr/local/sessionmanagerplugin/bin/session-manager-plugin ~/.local/bin && \
    rm -rf session-manager-plugin.deb session-manager-plugin && \
    printf "session-manager-plugin %s installation was successful!\n" $(session-manager-plugin --version)

export PIPX_HOME="$HOME/.local/share/pipx"

pipx install -f git-remote-codecommit
pipx install -f aws-sam-cli
pipx install -f cfn-lint
pipx install -f aws-sso-util
