{{- if (eq .chezmoi.os "linux") -}}
#!/bin/bash

set -e

# SEE ALSO: https://github.com/pyenv/pyenv/wiki#suggested-build-environment
sudo apt-get install -y --no-install-recommends \
    make build-essential libssl-dev zlib1g-dev libbz2-dev libreadline-dev \
    libsqlite3-dev wget curl llvm libncurses5-dev xz-utils tk-dev \
    libxml2-dev libxmlsec1-dev libffi-dev liblzma-dev

export PYENV_ROOT="$HOME/.local/share/pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
git clone https://github.com/pyenv/pyenv $PYENV_ROOT || :

"$PYENV_ROOT/bin/pyenv" install -s 3.8.8
"$PYENV_ROOT/bin/pyenv" global 3.8.8
{{ end }}
