#!/bin/bash

set -e

source ~/.zshenv
export PATH="$ASDF_DIR/bin:$PATH"

sudo apt-get install -y \
    bash curl unzip \
    gpg dirmngr

if ! asdf plugin list | grep -q "^1password-cli$"; then
    asdf plugin add 1password-cli
fi

asdf install 1password-cli latest
asdf global 1password-cli latest
