#!/usr/bin/env bash

set -e

{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
if [ ! -f /etc/apt/apt.conf.d/00-no-install-recommends ]; then
    sudo tee /etc/apt/apt.conf.d/00-no-install-recommends << __EOF__ >/dev/null
APT::Install-Recommends 0;
APT::Install-Suggests 0;
__EOF__
fi
{{ else if eq .chezmoi.osRelease.id "amzn" -}}
if [ ! -f /etc/yum.conf ]; then
    sudo sed '^\[main\]/ainstall_weak_deps=false' /etc/yum.conf
fi
{{ end -}}

if [ $(basename "$SHELL") != "zsh" ]; then
    sudo chsh -s $(which zsh) ${USER}
fi
