{{- if (eq .chezmoi.os "linux") -}}
#!/bin/bash
# -*- shellscript -*-

set -e

sudo apt-get install -y lastpass-cli
curl -sL --create-dirs -o "$HOME/.local/bin/git-credential-lastpass" https://github.com/lastpass/lastpass-cli/raw/v1.3.3/contrib/examples/git-credential-lastpass && \
    sed -e 's,--password,--field=personal_access_token,' -i "$HOME/.local/bin/git-credential-lastpass" && \
    chmod +x "$HOME/.local/bin/git-credential-lastpass"
{{ end }}
