#!/bin/bash

set -e

source ~/.zshenv
export PATH="$ASDF_DIR/bin:$PATH"

if ! asdf plugin list | grep -q "^direnv$"; then
    asdf plugin add direnv
fi

asdf install direnv latest
asdf global direnv latest
