#!/usr/bin/env bash

set -e

{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
if [ ! -f /etc/apt/apt.conf.d/00-no-install-recommends ]; then
    sudo tee /etc/apt/apt.conf.d/00-no-install-recommends << __EOF__ >/dev/null
APT::Install-Recommends 0;
APT::Install-Suggests 0;
__EOF__
fi
{{ else if eq .chezmoi.osRelease.id "amzn" -}}
{{   if eq .chezmoi.osRelease.versionID "2" -}}
_conf=/etc/yum.conf
{{   else -}}
_conf=/etc/dnf/dnf.conf
{{   end -}}
if [ -f $_conf ]; then
    sudo sed -i '/^\[main\]/ainstall_weak_deps=False' $_conf >/dev/null
else
    sudo tee $_conf << __EOF__ >/dev/null
[main]
install_weak_deps=False
__EOF__
fi
{{ end -}}

if [ $(basename "$SHELL") != "zsh" ]; then
    sudo chsh -s $(which zsh) ${USER}
fi
