#!/bin/bash

set -e

source ~/.zshenv
PATH="$ASDF_DIR/bin:$PATH"

# SEE ALSO: https://github.com/pyenv/pyenv/wiki#suggested-build-environment
sudo apt-get install -y --no-install-recommends \
    build-essential libssl-dev zlib1g-dev libbz2-dev libreadline-dev \
    libsqlite3-dev wget curl llvm libncurses5-dev xz-utils tk-dev \
    libxml2-dev libxmlsec1-dev libffi-dev liblzma-dev

if ! asdf plugin list | grep -q "^python$"; then
    asdf plugin add python
fi

asdf install python 3.9.7
asdf global python 3.9.7

asdf exec python3 -m pip install --user pipx
asdf exec python3 -m pipx ensurepath
