{{- if (eq .chezmoi.os "linux") -}}
#!/bin/bash
# -*- shellscript -*-

set -e

OP_BASE_URL="https://app-updates.agilebits.com/"
OP_LATEST_RELEASE=$(curl -sL $OP_BASE_URL | grep '1Password CLI' -A1 | grep release | sed -e 's,.*:\s*,,' -e 's,<.*,,')
OP_LATEST_URL=https://cache.agilebits.com/dist/1P/op/pkg/v$OP_LATEST_RELEASE/op_{{ .chezmoi.os }}_{{ .chezmoi.arch }}_v$OP_LATEST_RELEASE.zip

curl -s $OP_LATEST_URL -o 1password-cli.zip && \
    unzip -q 1password-cli.zip && \
    mv op ~/.local/bin && \
    rm -rf 1password-cli.zip op.sig
{{ end }}
