{{ $git_version_output := output "git" "--version" | trim -}}
{{ $git_version_str := regexReplaceAll "^git version " $git_version_output "" -}}
{{ $git_version := splitList "." $git_version_str -}}
{{ $git_major_version := index $git_version 0 | atoi -}}
{{ $git_minor_version := index $git_version 1 | atoi -}}
[user]
    name = Xeres
    email = 294146+xeres@users.noreply.github.com

[column]
    ui = auto

{{ if lt 2 $git_major_version -}}
[init]
    defaultBranch = main
{{ end -}}

[branch]
    sort = -committerdate

[tag]
    sort = version:refname

[diff]
    algorithm = histogram
    colorMoved = dimmed-zebra
    mnemonicPrefix = true
    renames = copies

[push]
    default = simple
    autoSetupRemote = true

    followTags = true

[fetch]
    all = true

    prune = true
    pruneTags = true

{{ $git_merge_conflictstyle := "diff3" -}}
{{ if lt 2 $git_major_version -}}
{{     $git_merge_conflictstyle = "zdiff3" -}}
{{ else if and (eq $git_major_version 2) (lt 35 $git_minor_version) -}}
{{     $git_merge_conflictstyle = "zdiff3" -}}
{{ end -}}

[merge]
    conflictstyle = {{ $git_merge_conflictstyle }}

[pull]
    ff = only

[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true

[commit]
    verbose = true

[rerere]
    enabled = true
    autoupdate = true

[help]
    autocorrect = prompt
