#!/usr/bin/env bash
{{ if eq .chezmoi.os "linux" -}}
{{     if or (eq (get .chezmoi.osRelease "id") "debian") (eq (get .chezmoi.osRelease "idLike") "debian") -}}
{{         include "../install/ubuntu/zsh.sh" -}}
{{     end -}}
{{ end -}}
